
@media only screen and (max-width: 700px){

    #header{ 
        height: 40px;
    }

    #Logotipo{
        width: 80px;
        height: auto;
    }

    #navegacao{
        padding: 10px;
        align-items: center;
    }

    .btnNav{
        padding-left: 40px;
    }

    .btnNav a{
        font-size: 13px;
    }

    #banner{
        padding-top: 50px;
    }

    #welcome{
        bottom: 150px;
        font-size: 20px;
    }

    #container{
        padding-top: 20px;
    }

    #sobre{
        padding-bottom: 30px;
        padding-top: 50px;
    }

    .title1{
        font-size: 30px;
    }

    .pexplain{
        font-size: 18px;
        padding-top: 30px;
    }

    #MVV{
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        margin-left: calc(50% - 170px);
    }

    .cards{
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        width: 300px;
    }

    .dexplain1{
        padding: 30px;
        padding-bottom: 30px;
    }

    .pexplainCard{
        font-size: 20px;
    }

    #ExtraCards{
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: calc(50% - 170px);
    }

    .cards1{
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        width: 300px;
    }

    .title2{
        text-align: center;
        font-size: 20px;
    }
    .title3{
        text-align: center;
        font-size: 30px;
    }

    #portifolio{
        padding-bottom: 0px;
        padding-top: 70px;
        width: 100%;

    }

    #cardPort{
        display: block;
    }

    #cardPortLeft{
        width: 100%;
        margin-left: 30px;
    }

    #clients{
        padding-top: 30px;
        padding-bottom: 30px;
    }

    /*.imgClient{
        height: 200px;
    }*/

    #dLanguages{
        width: 100%;
        text-align: center;
        margin-top: 30px;
        margin-left: -40px;
    }
    #Languages{
        width: 80%;
    margin-left: 10%;
    margin-left: 10%;
    margin-top: 25px;
    padding: 7%;
    padding-left: 5%;
    padding-right: 5%;
    }

    #tLang{
        margin-bottom: 20px;
    }

    .Language{
    padding-right: 10px;
    padding-bottom: 15px;
    width: 75px;
    }

    #cardPortRight{
        
        width: 450px;
        margin-left: -63px;
    }
    
    #clientSite{
        width: 450px;
    }
    
    .imgSiteClient{
        width: 450px;
    border-radius: 10px;
    }

    #nameClient{
    padding-top: 8px;
    padding-bottom: 5px;
    width: 450px;
    margin-left: calc((100% - 470px)/2);
    border-radius: 10px;
    margin-top: -55px;
    margin-bottom: 70px;
}

#pNameClient{
    font-size: 35px;
    font-family: "Arimo", sans-serif;
}

    #equipe{
        padding-top: 70px;
    }

    .divPerfil{
        width: 80%;
        justify-content: center;
    margin-left: 0%;
    margin-top: 50px;
    padding: 0%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    flex-wrap: wrap; 
    }
    
    .divPerfil1{
        text-align: left;
        align-items: center;
        display: flex;
    }

    .perfil{
        text-align: left;
        overflow: hidden;
        border-radius: 100%;
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
    }
    
    .imgPerfil{
        width: 100px;
        height: 100px;
    }
    
    .nomeMembro{
        font-size: 20px;
    }

#contato{
    display: block;
    margin-top: 70px;
}

#TitleCtt{
    margin-bottom: 80px;
}

.pContato{
    font-size: 20px;
    margin-left: 15px;
    margin-bottom: 20px;
}

#allRights{
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    padding-top: 30px;
}

#LogoInferior{
    display: none;
}

#redes{
    padding-left: 0;
    margin: 0px;
    margin-left: 0;
    width: 100%;
}

#contatoConj{
    text-align: center;
    display: flex;
    padding-bottom: 5px;
}

.imgRede{
    margin-left: 30px;
    width: 40px;
}
    #imgZap{
        width: 70px;
    }

    #whatsapp{
        bottom: 40px;
        right: 10px;
    }
}