
@media only screen and (max-width: 600px){

    #header{ 
        height: 50px;
    }

    #Logotipo{
        width: 40px;
    }

    #navegacao{
        padding: 10px;
    }

    .btnNav{
        padding-left: 50px;
    }

    .btnNav a{
        font-size: 13px;
    }

    #banner{
        padding-top: 50px;
    }

    #welcome{
        bottom: 150px;
        font-size: 20px;
    }
    
    .welcome{
        margin-left: 35px;
    }

    #container{
        padding-top: 20px;
    }

    #sobre{
        padding-bottom: 30px;
        padding-top: 50px;
    }

    .title1{
        font-size: 30px;
    }

    .pexplain{
        font-size: 18px;
        padding-top: 30px;
    }

    #MVV{
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .cards{
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        width: 300px;
    }

    .dexplain1{
        padding: 30px;
        padding-bottom: 30px;
    }

    .pexplainCard{
        font-size: 20px;
    }

    #MoreCards{
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .cards1{
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        width: 300px;
    }

    .title2{
        text-align: center;
        font-size: 20px;
    }

    #portifolio{
        padding-bottom: 20px;
        padding-top: 70px;
        width: 100%;

    }

    #cardPort{
        display: block;
    }

    #cardPortLeft{
        width: 100%;
        margin-left: 30px;
    }

    #clients{
        padding-top: 30px;
        padding-bottom: 30px;
    }

    /*.imgClient{
        height: 200px;
    }*/

    #dLanguages{
        width: 100%;
        text-align: center;
        margin-top: 30px;
        margin-left: -40px;
    }

    #tLang{
        margin-bottom: 20px;
    }
/*
    .Language{
    }*/

    #cardPortRight{
        width: 450px;
        margin-left: -63px;
    }
    
    #clientSite{
        margin-top: 50px;
    }
    
    .imgSiteClient{
        height: 350px;
    }

    #equipe{
        padding-top: 70px;
    }

    .divPerfil{
        display: inline-flex;
        width: 100%;
        justify-content: center;
    }
    
    .divPerfil1{
        margin: 1.5%;
        text-align: center;
    }

    .perfil{
        overflow: hidden;
        border-radius: 100%;
        width: 120px;
        height: 120px;
        margin-bottom: 10px;
    }

    .imgPerfil{
        width: 120px;
        height: 120px;
    }

    .nomeMembro{
        font-size: 20px;
    }
/*
    footer{
        background-color: #090d19;
    }*/

    #contato{
        display: block;
        margin-top: 30px;
        text-align: center;
    }

    .pContato{
        font-size: 20px;
    }

    #allRights{
        padding-left: 0px;
        padding-right: 0px;
        font-size: 20px;
        padding-top: 10px;
    }

    #redes{
        display: flex;
        padding-left: 0px;
        justify-content: center;
    }

    .imgRede{
        margin-left: 30px;
        padding-top: 10px;
        width: 40px;
    }
}