*{
    margin: 0;
    padding: 0;
}

#banner{
    padding-top: 70px;
    position: relative;
    z-index: 1;
}

#sobre{
    padding-right: 50%;
}

#portifolio{
    width: 100%;
    background-color: #202D9C;
    color: white;
    margin-left: -70px;
    padding-left: 70px;
    padding-bottom: 20px;
}

#contato{
}

#sobre{
    padding-bottom: 30px;
}

.dexplain1{
    width: 50%;
    padding-right: 100px;
    padding-bottom: 30px;
}

.pexplain{
    font-size: 26px;
    text-align: justify;
    padding-top: 10px;
}

.dlist{
    width: 50%;
}

.sections{
    display: flex;
}

#TopoPagina{
    position: relative;
    width: 100%;
}

.welcome{
    color: white;
    margin-left: 65px;
    
}

#welcome{
    position: absolute;
    bottom: 140px;
    z-index: 2;
    font-size: 50px;
}

.title1{
    color: #202D9C;
    font-size: 40px;
}

.title2{
    color: white;
    font-size: 40px;
}

#navegacao{
    display: inline-flex;
    height: 70px;
    padding: 20px;
    padding-left: 400px;
}

#header{            
    background-color: white;
    width: 100%;
    display: flex;  
    height: 80px;
    position: fixed;
    z-index: 3;
}

.btnNav{
    list-style: none;
    text-decoration: none;
    padding-left: 50px;
    font-size: 25px;
}

.btnNav a{
    text-decoration: none;
    list-style: none;
    font-size: 25px;
    color: black;
}

#Logotipo{
    padding: 20px;
    width: 74px;
    margin-left: 20px;
}

#container{
    padding-top: 20px;
    padding-left: 70px;
}

.perfil{
    overflow: hidden;
    border-radius: 100%;
    width: 300px;
    height: 300px;
    margin: 1.5%;
    display: flex;
    border: 5px solid black;
}

.divPerfil{
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

.imgPerfil{
    width: 300px;
    height: 300px;    
}

#cardPort{
    background-color: blue;
    border-radius: 1%;
    height: 600px;
    margin-right: 70px;
}

footer{
    background-color: #202D9C;
}