*{
    margin: 0;
    padding: 0;
    color: white;
}

html{
    scroll-behavior: smooth;    
}

main{
z-index: 1;
}

#header{            
    background-color: #090d19;
    width: 100%;
    display: flex;  
    height: 80px;
    position: fixed;
    z-index: 3;
}

#Logotipo{
    padding-top: 10px;
    width: 74px;
    margin-left: 20px;
}

#navegacao{
    display: inline-flex;
    height: 70px;
    padding: 20px;
    padding-left: 400px;
}

.btnNav{
    list-style: none;
    text-decoration: none;
    padding-left: 130px;
    font-size: 25px;
}

.btnNav a{
    text-decoration: none;
    list-style: none;
    font-size: 25px;
    color: #01ACCA;
}

#banner{
    padding-top: 70px;
    position: relative;
    z-index: 1;
    background-color:#090d19;
}

#TopoPagina{
    position: relative;
    width: 100%;
}

#welcome{
    position: absolute;
    bottom: 550px;
    z-index: 2;
    font-size: 50px;
}

.welcome{
    color: white;
    margin-left: 65px;    
}

#container{
    padding-top: 20px;
    padding-left: 70px;
    padding-right: 70px;
    background-image: linear-gradient(to bottom, #090d19, #02aedf, #02aedf, #0c468a, #02aedf, #0c468a, #090d19);
}

#sobre{
    padding-bottom: 30px;
    padding-top: 70px;
}

.title1{
    text-align: center;
    color: #00c4cc;
    font-size: 60px;
}

.pexplain{
    font-size: 35px;    
    text-align: justify;
    padding-top: 30px;
}

#MVV{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

.cards{
    background-image: linear-gradient(to bottom, #090d19, #151e37, #26345d);
    margin-left: 40px;
    margin-right: 40px;
    width: 500px;
    border-radius: 10%;
    overflow: hidden;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.cards.show {
        opacity: 1;
        transform: translateY(0);
    }

.dexplain1{
    padding: 30px;
    padding-bottom: 30px;
}

.pexplainCard{
    font-size: 33px;    
    text-align: justify;
}

.defaultMarginText{
    margin-top: 500px;
}

#MoreCards{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

.cards1{
    background-image: linear-gradient(to bottom, #0147a6, #0068b2, #0297c2);
    margin-left: 40px;
    margin-right: 40px;
    width: 500px;
    border-radius: 10%;
    overflow: hidden;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
.cards1.show {
        opacity: 1;
        transform: translateY(0);
    }


.title2{
    text-align: center;
    color: #fff;
    font-size: 40px;
}

#portifolio{
    width: 100%;
    color: white;
    padding-bottom: 20px;
    padding-top: 70px;
}

#cardPort{
    display: flex;
    margin-top: 40px;
    width: 100%;
    margin-left: 5%;
}

#cardPortLeft{
    width: 30%;
}

#clients{
    padding-top: 110px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 110px;
    width: 70%;
    text-align: center;
    border-radius: 10%;
    overflow: hidden;
    background-color: #01131f;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

#clients.show {
        opacity: 1;
        transform: translateY(0);
    }

.imgClient{
    height: 200px;
}

#dLanguages{
    width: 100%;
    margin-top: 70px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

#dLanguages.show {
        opacity: 1;
        transform: translateY(0);
    }

#tLang{
    margin-bottom: 50px;
}

.Language{
    padding-right: 30px;
    width: 100px;
}

#cardPortRight{
    width: 70%;
}

#clientSite{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 90%;
    text-align: center;
    border-radius: 15%;
    overflow: hidden;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1.4s ease-out, transform 1.4s ease-out;
}

#clientSite.show {
        opacity: 1;
        transform: translateY(0);
    }

.imgSiteClient{
    height: 620px;
    border-radius: 5%;
    overflow: hidden;
}

#equipe{
    padding-top: 70px;
}

.divPerfil{
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

.divPerfil1{
    margin: 1.5%;
    text-align: center;
}

.perfil{
    overflow: hidden;
    border-radius: 100%;
    width: 300px;
    height: 300px;
    display: flex;
    border: 5px solid black;
    margin-bottom: 30px;
}

.imgPerfil{
    width: 300px;
    height: 300px;
}

.nomeMembro{
    font-size: 30px;
}

footer{
    background-color: #090d19;
}

#contato{
    display: flex;
    margin-top: 70px;
}

.pContato{
    font-size: 30px;
    margin-left: 30px;
}

#allRights{
    padding-left: 60px;
    padding-right: 60px;
    font-size: 30px;
    padding-top: 60px;
}

#redes{
    display: flex;
    padding-left: 110px;
    margin: 30px;
}

.imgRede{
    margin-left: 30px;
    width: 80px;
}

#whatsapp{
position: fixed;
right: 20px;
bottom: 110px;
z-index: 4;
}

#imgZap{
width: 90px;
}

