@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yeseva+One&display=swap');

*{
    margin: 0;
    padding: 0;
    color: white;
}

html{
    scroll-behavior: smooth;    
}

header{            
    background-color: #090d19;
    width: 100%;
    display: flex;  
    height: 80px;
    position: fixed;
    z-index: 30;
}

#Logotipo{
    padding-top: 10px;
    width: 74px;
    margin-left: 20px;
}

#navegacao{
    display: inline-flex;
    height: 70px;
    padding: 20px;
    padding-left: 400px;
}

.btnNav{
    list-style: none;
    padding-left: 130px;
}

.btnNav a{
    text-decoration: none;
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    color: #01ACCA;
}

#banner{
    padding-top: 80px;
    position: relative;
    z-index: 10;
    background-color:#090d19;
}

#TopoPagina{
    width: 100%;
}

#welcome{
    position: absolute;
    bottom: 550px;
    z-index: 20;
    font-size: 50px;
    margin-left: 65px;    
}

main{
    z-index: 1;
    padding-top: 20px;
    padding-left: 70px;
    padding-right: 70px;
    background-image: linear-gradient(to bottom,
     #090d19, 
     #090d19, 
     #0c468a, 
     #02aedf, 
     #0c468a, 
     #090d19, 
     #090d19, 
     #090d19, 
     #090d19, 
     #090d19, 
     #090d19, 
     #090d19, 
     #090d19);
}

#sobre{
    padding-bottom: 30px;
    padding-top: 70px;
}

.title3{
    text-align: center;
    color: #00c4cc;
    font-family: "Yeseva One", serif;
    font-size: 60px;
}

.title1{
    text-align: center;
    color: #00c4cc;
    font-family: "Yeseva One", serif;
    text-shadow: 
                0 0 1px #fff,
                0 0 2px #00c4cc,
                0 0 3px #00c4cc,
                0 0 6px #00c4cc,
                0 0 10px #00c4cc;

    font-size: 60px;
}

.pexplain{
    font-size: 35px;    
    text-align: justify;
    padding-top: 30px;
    font-family: "Montserrat", sans-serif;
}

#MVV{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: calc((100% - 1720px)/2);
}

.cards{
    background-image: linear-gradient(to bottom, #090d19, #151e37, #26345d);
    margin-left: 40px;
    margin-right: 40px;
    width: 500px;
    border-radius: 10%;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.cards.show {
        opacity: 1;
        transform: translateY(0);
    }

.dexplain1{
    padding: 30px;
    padding-bottom: 30px;
    text-align: left;
}

.pexplainCard{
    font-size: 33px;    
    text-align: left;
    font-family: "Open Sans", sans-serif;
}

#ExtraCards{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: calc((100% - 1720px)/2);
}

.cards1{
    background-image: linear-gradient(to bottom, #0147a6, #0068b2, #0297c2);
    margin-left: 40px;
    margin-right: 40px;
    width: 500px;
    border-radius: 10%;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
.cards1.show {
        opacity: 1;
        transform: translateY(0);
    }


.title2{
    font-family: "Yeseva One", serif;
    text-align: center;
    color: #fff;
    font-size: 40px;
}

#dLanguages{
    width: 100%;
    margin-top: 70px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
    text-align: center;
    align-items: center;
}

#dLanguages.show {
        opacity: 1;
        transform: translateY(0);
    }

#tLang{
    margin-bottom: 50px;
}

#Languages{
    width: 40%;
    margin-left: 20%;
    margin-top: 50px;
    padding: 7%;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 200px;
    text-align: center;
    border: 5px solid white;
}

.Language{
    padding-right: 35px;
    padding-bottom: 35px;
    width: 150px;
}

#portifolio{
    padding-top: 90px;
}

#cardPort{
    margin-top: 40px;
    text-align: center;
    width: 100%;
}

#clientSite{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: center;
    transform: translateY(50px);
}

.imgSiteClient{
    width: 900px;
    border-radius: 70px;
}

#nameClient{
    background-image: linear-gradient(to bottom, #0147a6, #0068b2, #0297c2);
    padding-top: 15px;
    padding-bottom: 10px;
    width: 900px;
    margin-left: calc((100% - 920px)/2);
    border-radius: 100px;
    margin-top: -105px;
    margin-bottom: 70px;
    position: absolute;
}

#pNameClient{
    font-size: 70px;
    font-family: "Arimo", sans-serif;
}

#equipe{
    padding-top: 130px;
}

.divPerfil{
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

.divPerfil1{
    margin: 1.5%;
    text-align: center;
}

.perfil{
    overflow: hidden;
    border-radius: 100%;
    width: 300px;
    height: 300px;
    display: flex;
    border: 5px solid black;
    margin-bottom: 30px;
}

.imgPerfil{
    width: 300px;
    height: 300px;
}

.nomeMembro{
    font-size: 30px;
}

footer{
    background-image: linear-gradient(to bottom, #090d19, #000);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px
}

#contato{
    display: flex;
    margin-top: 70px;
}

#TitleCtt{
    margin-bottom: 80px;
}

.pContato{
    font-size: 40px;
    margin-left: 30px;
    margin-bottom: 40px;
}

#allRights{
    padding-left: 60px;
    padding-right: 60px;
    font-size: 40px;
    padding-top: 60px;
}

#LogoInferior{
    width: 45%;
    margin-right: 5%;
    text-align: center;
}

#LogoInferiorImg{
    width: 400px;
}

#slogan{
    font-size: 50px;
    font-family: "Poppins", sans-serif;
}

.slogan{
    text-align: left;
    padding-left: calc((100% - 400px) / 2);
}

#redes{
    display: block;
    padding-left: 110px;
    margin: 30px;
    margin-left: 5%;
    width: 45%;
}

#contatoConj{
    display: flex;
}

.imgRede{
    margin-left: 30px;
    width: 50px;
}

#whatsapp{
position: fixed;
right: 20px;
bottom: 110px;
z-index: 4;
}

#imgZap{
width: 90px;
}